<%= form_for(@microost) do |f| %>
  <% if @microost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@microost.errors.count, "error") %> prohibited this microost from being saved:</h2>

      <ul>
      <% @microost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
