<h1>Listing microosts</h1>

<table>
  <tr>
    <th>Content</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @microosts.each do |microost| %>
  <tr>
    <td><%= microost.content %></td>
    <td><%= microost.user_id %></td>
    <td><%= link_to 'Show', microost %></td>
    <td><%= link_to 'Edit', edit_microost_path(microost) %></td>
    <td><%= link_to 'Destroy', microost, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Microost', new_microost_path %>
